apiVersion: v1
kind: ConfigMap
metadata:
  name: common-chart-values
data:
  values.yaml: |-
    nameOverride: "prometheus"
    fullnameOverride: "prometheus"
    crds:
      enabled: true
      upgradeJob:
        enabled: false
    global:
      rbac:
        create: true
        pspEnabled: false
    prometheusOperator:
      enabled: true
      tls:
        enabled: false
      admissionWebhooks:
        enabled: false
      serviceAccount:
        create: true
      service:
        type: ClusterIP
      kubeletService:
        enabled: false
      resources:
        requests:
          cpu: 50m
          memory: 64Mi
        limits:
          cpu: 200m
          memory: 256Mi
