apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-chart-values
data:
  values.yaml: |-
    grafana:
      enabled: true
      admin:
        existingSecret: "grafana-admin"
        userKey: username
        passwordKey: password
      persistence:
        enabled: true
        type: pvc
        storageClassName: nfs-named
        volumeName: "grafana-data"
        accessModes:
          - ReadWriteOnce
        size: 10Gi
      service:
        type: ClusterIP
      ingress:
        enabled: true
        ingressClassName: dmz-ingress
        annotations:
          cert-manager.io/cluster-issuer: letsencrypt-cloudflare
          nginx.ingress.kubernetes.io/ssl-redirect: "true"
          nginx.ingress.kubernetes.io/proxy-body-size: 10m
        hosts:
          - "grafana.golocal.dev"
        tls:
          - hosts:
              - "grafana.golocal.dev"
            secretName: grafana-tls
      sidecar:
        dashboards:
          enabled: false
        datasources:
          enabled: true
