apiVersion: v1
kind: ConfigMap
metadata:
  name: common-chart-values
data:
  values.yaml: |-
    nameOverride: "prometheus"
    fullnameOverride: "prometheus"
    crds:
      enabled: true
      upgradeJob:
        enabled: false
    global:
      rbac:
        create: true
        pspEnabled: false
    nodeExporter:
      enabled: true
      resources:
        requests:
          cpu: 25m
          memory: 32Mi
        limits:
          cpu: 100m
          memory: 128Mi
    kubelet:
      enabled: true
      serviceMonitor:
        metricRelabelings:
          - action: keep
            sourceLabels: [__name__]
            regex: "kubelet_(node_name|runtime_operations_total|volume_stats_.*)"
    prometheusOperator:
      enabled: true
      tls:
        enabled: false
      admissionWebhooks:
        enabled: false
      serviceAccount:
        create: true
      service:
        type: ClusterIP
      kubeletService:
        enabled: false
      resources:
        requests:
          cpu: 50m
          memory: 64Mi
        limits:
          cpu: 200m
          memory: 256Mi
    
