apiVersion: apps/v1
kind: Deployment
metadata:
  name: ddns-updater
  labels:
    app: ddns-updater
spec:
  selector:
    matchLabels:
      app: ddns-updater
  template:
    metadata:
      labels:
        app: ddns-updater
    spec:
      containers:
        - name: ddns
          image: ghcr.io/qdm12/ddns-updater:v2.8.0
          env:
            - name: CONFIG
              valueFrom:
                secretKeyRef:
                  name: ddns-updater-config
                  key: config.json
          ports:
            - containerPort: 8000
              name: http