apiVersion: apps/v1
kind: Deployment
metadata:
  name: speedtest-tracker
spec:
  replicas: 1
  selector: {}
  template:
    spec:
      containers:
        - name: speedtest-tracker
          image: lscr.io/linuxserver/speedtest-tracker:latest
          ports:
            - containerPort: 80
              name: http
          envFrom:
            - secretRef:
                name: speedtest-tracker
            - configMapRef:
                name: speedtest-tracker-env
          env:
            - name: PUID
              value: "1000"
            - name: PGID
              value: "1000"
            - name: DB_CONNECTION
              value: pgsql
            - name: DB_HOST
              valueFrom:
                secretKeyRef:
                  name: postgres-cluster-app
                  key: host
            - name: DB_PORT
              valueFrom:
                secretKeyRef:
                  name: postgres-cluster-app
                  key: port
            - name: DB_DATABASE
              valueFrom:
                secretKeyRef:
                  name: postgres-cluster-app
                  key: dbname
            - name: DB_USERNAME
              valueFrom:
                secretKeyRef:
                  name: postgres-cluster-app
                  key: username
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: postgres-cluster-app
                  key: password
