apiVersion: apps/v1
kind: Deployment
metadata:
  name: home-assistant
spec:
  revisionHistoryLimit: 3
  replicas: 1
  strategy:
    type: Recreate
  selector: {}
  template:
    spec:
      volumes:
        - name: ha-config-root
          emptyDir: {}
      initContainers:
        - name: git-clone
          image: alpine/git
          command:
            - /bin/sh
            - -c
            - |
              rm -rf /config/* \
              && git clone --depth $GITSYNC_DEPTH -b $GITSYNC_REF $GITSYNC_REPO /config
          volumeMounts:
            - mountPath: /config
              name: ha-config-root
          envFrom:
            - configMapRef:
                name: config-git-sync
      containers:
        - name: home-assistant-app
          image: "ghcr.io/home-assistant/home-assistant:2025.6.1"
          imagePullPolicy: IfNotPresent
          envFrom:
            - configMapRef:
                name: home-assistant-env
          ports:
            - name: http
              containerPort: 8123
              protocol: TCP
          resources: {}
          livenessProbe:
            tcpSocket:
              port: 8123
            initialDelaySeconds: 0
            failureThreshold: 3
            timeoutSeconds: 1
            periodSeconds: 10
          readinessProbe:
            tcpSocket:
              port: 8123
            initialDelaySeconds: 0
            failureThreshold: 3
            timeoutSeconds: 1
            periodSeconds: 10
          startupProbe:
            tcpSocket:
              port: 8123
            initialDelaySeconds: 0
            failureThreshold: 30
            timeoutSeconds: 1
            periodSeconds: 5
          volumeMounts:
            - name: ha-config-root
              mountPath: /config
      restartPolicy: Always
