apiVersion: apps/v1
kind: Deployment
metadata:
  name: music-assistant
spec:
  strategy:
    type: Recreate
  replicas: 1
  selector: {}
  template:
    metadata:
      annotations:
        k8s.v1.cni.cncf.io/networks: |
          [{
            "name": "mass-static-net",
            "mac": "02:10:00:fa:01:01",
            "ips": ["10.0.0.61/24"]
          }]
    spec:
      containers:
        - name: music-assistant
          image: ghcr.io/music-assistant/server:latest
          env:
            - name: LOG_LEVEL
              value: "info"
          volumeMounts:
            - name: data
              mountPath: /data
          securityContext:
            allowPrivilegeEscalation: false
          ports:
            - name: web
              containerPort: 8095
            - name: devices
              containerPort: 8097
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: kubernetes.io/hostname
                    operator: In
                    values:
                      - k3s-1
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: music-assistant-data