apiVersion: apps/v1
kind: Deployment
metadata:
  name: external-dns
spec:
  strategy:
    type: Recreate
  selector: {}
  template:
    spec:
      serviceAccountName: external-dns
      containers:
        - name: external-dns
          image: registry.k8s.io/external-dns/external-dns:v0.20.0
          envFrom:
            - secretRef:
                name: pihole-admin
          args:
            - --source=ingress
            - --registry=noop
            - --policy=upsert-only
            - --provider=pihole
            - --pihole-api-version=6
            - --pihole-server=http://10.0.0.31
      securityContext:
        fsGroup: 65534