apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: jellyfin-config
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: nfs-named
  volumeName: jellyfin-config
  resources:
    requests:
      storage: 5Gi
