kind: ConfigMap
apiVersion: v1
metadata:
  name: multus-daemon-config
  labels:
    tier: node
    app: multus
data:
  daemon-config.json: |
    {
      "chrootDir": "/hostroot",
      "cniVersion": "0.3.1",
      "logLevel": "verbose",
      "logToStderr": true,
      "cniConfigDir": "/host/var/lib/rancher/k3s/agent/etc/cni/net.d",
      "multusAutoconfigDir": "/host/var/lib/rancher/k3s/agent/etc/cni/net.d",
      "multusConfigFile": "auto",
      "multusCNIConfName": "00-multus.conf",
      "socketDir": "/host/run/multus/"
    }